<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultipleChoiceQuestions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BF5D40A1C6BBA2E00295A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF5D4211C6BBA2F00295A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF5D42C1C6BBA2F00295A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
